body {
         height : 100%;
         width : 100%;
         background-color: #000000;
      }
canvas{ 
         display: block;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
      }

@font-face{
    font-family: 'bold Kalam';
    src: url('font\\Kalam-Bold.ttf');
}
@font-face{
    font-family: 'light Kalam';
    src: url('font\\Kalam-Light.ttf');
}
@font-face{
    font-family: 'Kalam';
    src: url('font\\Kalam-Regular.ttf');
}